html {

}

body {
  background-color: salmon;
  width: 1024px;
  height: auto;
}

td {
  padding: 20px;
  border: dotted 1px black;
}

header {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
