body {
  width: 1024px;
  height: auto;
}

td {
  padding: 20px;
  border: dotted 1px black;
<<<<<<< HEAD
}

p {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
=======
>>>>>>> 519f9b5e16f27c96043ddb5a4bffd154475f4e94
}
