* {
  box-sizing: border-box;
}
#spacer{
  width: auto;
}
html{
  position: relative;
  background-color: #D9415D;
  margin-left: auto;
  margin-right: auto;
  width: 980px;
  height: 630px;
  outline: dotted 1px cyan;
}
body {
background-color: #FCAB8E;
}

section {
  background-color: #D9736A;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  height: 610px;
  outline: dotted 1px green;
}

.header {
  text-align: center;
  font-family: fantasy;
  font-size: 60px;
}

.left {
  position: relative;
  width: 100px;
  height: 610px;
  float: left;
  background: #EC7881;
}

.right {
  position: relative;
  width: 100px;
  height: 610px;
  float: right;
  background: #EC7881;
}

.logo{
  display: inline;
width: 451px;
}

.fish {
  display: block;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 120px;
    outline: dotted 1px #0e0e0e;
}

img{

  margin-left: auto;
  margin-right: auto;
}

header {

}

#link {
  margin-bottom: 100%;
}
